body {
  background-image: url('http://spacemonstersmag.files.wordpress.com/2013/12/gojira-1954.jpg');
  margin: 0;
  background-size: 100%;
}

header {
  margin-top: 220px;
  width: 100%;
  height: 134px;
  background-color: black;
  text-align: center;
  transition: all 1s ease;
  margin-bottom: 100px;
}

header:hover {
  background-color: #05813A;
}

header img .testclass:hover {
  width: 100px;
  height: 100px;
}

header:hover {
  background-color: #05813A;
}

header h1 {
  display: inline-block;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  vertical-align: 64%;
  transition: width 1s ease;
}

header h1:hover {
  text-shadow: 0px 0 15px black;
}

header img {
  display: inline-block;
  text-align: center;
  height: 75px;
  width: 75px;
  border: 1px solid none;
  border-radius: 100%;
  transition: all 1s ease;
}

header img:hover {
  width: 100px;
  height: 100px;
}


header img, h1 {
  margin-top: 30px;
}

.content {
  text-align: center;
  margin-bottom: 110px;
}
.pic1, .pic2, .pic3, .pic4 {
  display: inline-block;
  border-radius: 100%;
}


.pic1 img, .pic2 img, .pic3 img, .pic4 img, .textbox {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin-right: 50px;
  transition: all 2s ease;
}

.pic1 img:hover {
  transform: rotate(360deg);
  opacity: .5;
}

.pic2 img:hover {
  border-radius: 0%;
  width: 300px;
  height: 300px;
}

.pic3 img:hover {
  box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}

.pic4 {
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.pic4 img:hover {
  transform: rotateY(180deg);
}

footer {
  background-color: black;
  height: 200px;
  margin-bottom: 200px;
  margin-right: 90%;
  margin-left: -20px;
  transition: margin 3s ease;
  border-radius: 20px;
  transition-delay: 1s;
}

footer:hover {
  margin-right: 30%;
  transition: margin 3s ease;
  background-color: black;
}


footer p{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 5px;
  transition: all 3s ease;
}

footer:hover p {
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin: 100px;
}
